.preview {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    background: #f5f5f5;
    height: 10px;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #cc0000;
    box-shadow: 0px 1px 5px rgba(32, 31, 37, 0.697);
  }
}
