.cart-dropdown {
  width: 240px;
  height: 340px;

  position: absolute;
  top: 90px;
  right: 5%;

  z-index: 5;
  padding: 20px;
  border: 1px solid black;

  .cart-items {
    height: 240px;
    overflow: scroll;
  }

  button { margin-top: auto; }
}
