.sign-in-up {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}

@media only screen and (max-width: 1100px) {  
  .sign-in-up {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
