* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 20px 60px;
}

.App {
  padding-top: 70px;
}


a, .option {
  text-decoration: none;
  color: black;
  transition: transform 0.5s;
}
a:hover, .option:hover {
  color: black;
  transform: scale(1.1);
}

@media only screen and (max-width: 760px) {  
  body {
    margin: 10px 20px;
  }
}
